# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# FastAPI/Uvicorn
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Migrations (if using Alembic)
migrations/
alembic/

# Environment variables
.env
.env.*

# Build
build/
dist/node_modules/
